* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
}

.q1 {
    display: block;
    text-align: center;
    padding: 1em;
    background-color: #0005;
    border-radius: 4px;
    border: 1px solid #fff3;
    margin: 1em auto;
    font-size: 14pt;
}

.q2 {
    display: none;
}

.q3 {
    display: none;
}